In [2]:
range(5)

range(0, 5)

In [3]:
## for loop
for i in range(5):
    print(i)

0
1
2
3
4

In [4]:
for i in range(1,6):
    print(i)

1
2
3
4
5

In [6]:
for i in range(1,10,2):
    print(i)

1
3
5
7
9

In [7]:
for i in range(10,0,-1):
    print(i)

10
9
8
7
6
5
4
3
2
1

In [8]:
for i in range(10,0,-2):
    print(i)

10
8
6
4
2

In [ ]:
## strings
## string is a data structure; collection of characters; each char of string can be iterated over

str = "Suhani Bansal"
for i in str:
    print(i)

S
u
h
a
n
i

B
a
n
s
a
l

In [10]:
## while loop

## the while loop continues to execute as long as the condition is True

count = 0

while count < 5:
    print(count)
    count += 1

0
1
2
3
4

In [11]:
count = 0
while count % 2 == 0:
    print(count)
    count += 1

0

In [ ]:
## Loop Control Statements

## break
## The break statement exits the loop prematurely.

## break statement

for i in range(10):
    if i == 5:
        break
    print(i)

0
1
2
3
4

In [13]:
## continue
## The continue statement skips the current iteration and continues the next.

for i in range(10):
    if i % 2 == 0:
        continue
    print(i)

1
3
5
7
9

In [ ]:
## pass
## The pass statement is a null operation; it does nothing. It acts as a placeholder for future code.

for i in range(5):
    if i == 3:
        pass # does nothing
    print(i)

0
1
2
the number is  3
3
4

In [16]:
## Nested loops
## a loop inside a loop

for i in range(3):
    for j in range(2):
        print(f"i:{i} and j:{j}")

i:0 and j:0
i:0 and j:1
i:1 and j:0
i:1 and j:1
i:2 and j:0
i:2 and j:1

In [19]:
## Examples - Calculate the sum of first N natual numbers using a while loop and for loop

## using while loop
num = int(input("Enter the number : "))
sum = 0
count = 1

while(count <= num):
    sum += count
    count += 1

print(sum)

## using for loop
sum = 0
for i in range(num+1):
    sum += i
print(sum)

15
15

In [30]:
## Example - Prime numbers between 1 and 100
## Prime numbers are numbers that are divisible by 1 and the number itself
print("Prime numbers between 1 and 100 : ")
for num in range(1,101):
    if num > 1:
        is_prime = True
        for div in range(2,num):
            if num % div == 0:
                is_prime = False
                break
        if(is_prime):
            print(num,end = " ")

Prime numbers between 1 and 100 :
2 3 5 7 11 13 17 19 23 29 31 37 41 43 47 53 59 61 67 71 73 79 83 89 97

In [31]:
## method - 2
for num in range(1,101):
    if num > 1:
        for div in range(2,num):
            if num % div == 0:
                break
        else:
            print(num)

2
3
5
7
11
13
17
19
23
29
31
37
41
43
47
53
59
61
67
71
73
79
83
89
97