# Module 3: Data Structures Assignments
## Lesson 3.2: Tuples
### Assignment 1: Creating and Accessing Tuples

Create a tuple with the first 10 positive integers. Print the tuple.

### Assignment 2: Accessing Tuple Elements

Print the first, middle, and last elements of the tuple created in Assignment 1.

### Assignment 3: Tuple Slicing

Print the first three elements, the last three elements, and the elements from index 2 to 5 of the tuple created in Assignment 1.

### Assignment 4: Nested Tuples

Create a nested tuple representing a 3x3 matrix and print the matrix. Access and print the element at the second row and third column.

### Assignment 5: Tuple Concatenation

Concatenate two tuples: (1, 2, 3) and (4, 5, 6). Print the resulting tuple.

### Assignment 6: Tuple Methods

Create a tuple with duplicate elements and count the occurrences of an element. Find the index of the first occurrence of an element in the tuple.

### Assignment 7: Unpacking Tuples

Create a tuple with 5 elements and unpack it into 5 variables. Print the variables.

### Assignment 8: Tuple Conversion

Convert a list of the first 5 positive integers to a tuple. Print the tuple.

### Assignment 9: Tuple of Tuples

Create a tuple containing 3 tuples, each with 3 elements. Print the tuple of tuples.

### Assignment 10: Tuple and List

Create a tuple with the first 5 positive integers. Convert it to a list, append the number 6, and convert it back to a tuple. Print the resulting tuple.

### Assignment 11: Tuple and String

Create a tuple with the characters of a string. Join the tuple elements into a single string. Print the string.

### Assignment 12: Tuple and Dictionary

Create a dictionary with tuple keys and integer values. Print the dictionary.

### Assignment 13: Nested Tuple Iteration

Create a nested tuple and iterate over the elements, printing each element.

### Assignment 14: Tuple and Set

Create a tuple with duplicate elements. Convert it to a set to remove duplicates and print the resulting set.

### Assignment 15: Tuple Functions

Write functions that take a tuple and return the minimum, maximum, and sum of the elements. Print the results for a sample tuple.

In [ ]:
### Solution - 1
positive_numbers = tuple(num for num in range(1,11))
print(positive_numbers)

(1, 2, 3, 4, 5, 6, 7, 8, 9, 10)

In [8]:
### Solution - 2
print(positive_numbers[0])
print(positive_numbers[-1])
print(positive_numbers[len(positive_numbers)//2])

1
10
6

In [10]:
### Solution - 3
print(f"First three elements:{positive_numbers[0:3]}")
print(f"Last three elements:{positive_numbers[-3:]}")
print(f"2-5 index elements:{positive_numbers[2:6]}")

First three elements:(1, 2, 3)
Last three elements:(8, 9, 10)
2-5 index elements:(3, 4, 5, 6)

In [13]:
### Solution - 4
nested_tuple = (
    (1,2,3),
    (4,5,6),
    (7,8,9)
)

for row in nested_tuple:
    for el in row:
        print(el, end = " ")
    print()

print(f"Element at at second row and third column: ",nested_tuple[1][2])

1 2 3
4 5 6
7 8 9
Element at at second row and third column:  6

In [15]:
### Solution - 5
tup1 = (1,2,3)
tup2 = (4,5,6)
concatenated_tuple = tup1 + tup2
print(concatenated_tuple)

(1, 2, 3, 4, 5, 6)

In [16]:
### Solution - 6
tuple_with_duplicates = (1,2,2,2,2,2,3,4,5)
element = 2
print(f"First occurrence of element, {element}: {tuple_with_duplicates.index(element)}")
print(f"Total count of element, {element}: {tuple_with_duplicates.count(element)}")

First occurrence of element, 2: 1
Total count of element, 2: 5

In [17]:
### Solution - 7
names = ("Suhani","Yamini","Frieren","Fern","Marchi")
name1,name2,name3,name4,name5 = names
print(f"Name1: {name1}")
print(f"Name2: {name2}")
print(f"Name3: {name3}")
print(f"Name4: {name4}")
print(f"Name5: {name5}")

Name1: Suhani
Name2: Yamini
Name3: Frieren
Name4: Fern
Name5: Marchi

In [19]:
### Solution - 8
integers_list = [num for num in range(1,6)]
integers_tuple = tuple(integers_list)
print(f"Tuple of integers: {integers_tuple}")
print(f"Type: {type(integers_tuple)}")

Tuple of integers: (1, 2, 3, 4, 5)
Type: <class 'tuple'>

In [ ]:
### Solution - 9
### Same as solution 4

In [21]:
### Solution - 10
my_tuple = tuple(num for num in range(1,6)) # tuples are immutable  means they can't be modified
# converting tuple to list for modification
print(f"Original Tuple: {my_tuple}")
my_list = list(my_tuple)
my_list.append(6)
# converting back to tuple after modification is done
my_tuple = tuple(my_list)
print(f"Updated Tuple: {my_tuple}")

Original Tuple: (1, 2, 3, 4, 5)
Updated Tuple: (1, 2, 3, 4, 5, 6)

In [24]:
### Solution - 11
my_str = "Hello! I am Suhani Bansal"
# making a tuple from the characters of my_str
my_tuple = tuple(char for char in my_str)
print(f"Tuple with string characters: {my_tuple}")
# converting my_tuple back to my_str
my_str = ("").join(my_tuple)
print(f"My String: {my_str}")

Tuple with string characters: ('H', 'e', 'l', 'l', 'o', '!', ' ', 'I', ' ', 'a', 'm', ' ', 'S', 'u', 'h', 'a', 'n', 'i', ' ', 'B', 'a', 'n', 's', 'a', 'l')
My String: Hello! I am Suhani Bansal

In [27]:
### Solution - 12
my_dict = {
    (1,2):3,
    (4,5):6,
    (7,8):9
}

print(my_dict)

{(1, 2): 3, (4, 5): 6, (7, 8): 9}

In [ ]:
### Solution - 13
### Same as solution 4

In [25]:
### Solution - 14
my_tuple_with_duplicates = (1,2,2,3,3,3,4,4,4,4,5,5,5,5,5,2,2,1,3,3,3)
# converting tuple to set to remove duplicates
my_set = set(my_tuple_with_duplicates)
print(f"Set: {my_set}")

Set: {1, 2, 3, 4, 5}

In [26]:
### Solution - 15
numbers = (11,2,43,57,89,100,7)

def find_sum(tup):
    return sum(tup)

def find_min(tup):
    return min(tup)

def find_max(tup):
    return max(tup)

sum_of_tuple = find_sum(numbers)
min_in_tuple = find_min(numbers)
max_in_tuple = find_max(numbers)

print(f"Sum of tuple elements: {sum_of_tuple}")
print(f"Minimum element in tuple: {min_in_tuple}")
print(f"Maximum element in tuple: {max_in_tuple}")

Sum of tuple elements: 309
Minimum element in tuple: 2
Maximum element in tuple: 100