# Module 3: Data Structures Assignments
## Lesson 3.3: Sets
### Assignment 1: Creating and Accessing Sets

Create a set with the first 10 positive integers. Print the set.

### Assignment 2: Adding and Removing Elements

Add the number 11 to the set created in Assignment 1. Then remove the number 1 from the set. Print the modified set.

### Assignment 3: Set Operations

Create two sets: one with the first 5 positive integers and another with the first 5 even integers. Perform and print the results of union, intersection, difference, and symmetric difference operations on these sets.

### Assignment 4: Set Comprehensions

Create a new set containing the squares of the first 10 positive integers using a set comprehension. Print the new set.

### Assignment 5: Filtering Sets

Create a new set containing only the even numbers from the set created in Assignment 1 using a set comprehension. Print the new set.

### Assignment 6: Set Methods

Create a set with duplicate elements and remove the duplicates using set methods. Print the modified set.

### Assignment 7: Subsets and Supersets

Create two sets: one with the first 5 positive integers and another with the first 3 positive integers. Check if the second set is a subset of the first set and if the first set is a superset of the second set. Print the results.

### Assignment 8: Frozenset

Create a frozenset with the first 5 positive integers. Print the frozenset.

### Assignment 9: Set and List Conversion

Create a set with the first 5 positive integers. Convert it to a list, append the number 6, and convert it back to a set. Print the resulting set.

### Assignment 10: Set and Dictionary

Create a dictionary with set keys and integer values. Print the dictionary.

### Assignment 11: Iterating Over Sets

Create a set and iterate over the elements, printing each element.

### Assignment 12: Removing Elements from Sets

Create a set and remove elements from it until it is empty. Print the set after each removal.

### Assignment 13: Set Symmetric Difference Update

Create two sets and update the first set with the symmetric difference of the two sets. Print the modified first set.

### Assignment 14: Set Membership Testing

Create a set and test if certain elements are present in the set. Print the results.

### Assignment 15: Set of Tuples

Create a set containing tuples, where each tuple contains two elements. Print the set.

In [ ]:
## Solution - 1

2

In [ ]:
## Solution - 2

In [ ]:
## Solution - 3

In [ ]:
## Solution - 4

In [ ]:
## Solution - 5

In [ ]:
## Solution - 6

In [19]:
## Solution - 7
set1 = set(num for num in range(1,6))
set2 = set(num for num in range(1,4))

print(set1.issuperset(set2))
print(set2.issubset(set1))

True
True

In [ ]:
## Solution - 8

{1, 2, 3, 4, 5, 6}
{1, 2, 3, 4, 5, 6, 7}

In [17]:
## Solution - 9
my_set = set(num for num in range(1,6))
my_list = list(my_set)
my_list.append(6)
my_set = set(my_list)
print(my_set)
my_set.add(7)
print(my_set)

{1, 2, 3, 4, 5, 6}
{1, 2, 3, 4, 5, 6, 7}

In [18]:
## Solution - 10

In [12]:
## Solution - 11
numbers = set(num for num in range(1,11))
for el in numbers:
    print(el)

1
2
3
4
5
6
7
8
9
10

In [11]:
## Solution - 12
full_set = {1,2,3,4,5,6}

i = 0
while full_set != set():
    if i == 0:
        print(f"Original Set: {full_set}")
    else:
        print(f"Updation-{i}: {full_set}")
    full_set.pop()
    i += 1

Original Set: {1, 2, 3, 4, 5, 6}
Updation-1: {2, 3, 4, 5, 6}
Updation-2: {3, 4, 5, 6}
Updation-3: {4, 5, 6}
Updation-4: {5, 6}
Updation-5: {6}

In [9]:
## Solution - 13
set1 = {1,2,3,4,5,6}
set2 = {4,5,6,7,8,9}
print(f"Original set1: {set1}")
set1.symmetric_difference_update(set2)
print(f"Updated set1: {set1}")

Original set1: {1, 2, 3, 4, 5, 6}
Updated set1: {1, 2, 3, 7, 8, 9}

In [8]:
## Solution - 14
my_set = set(num for num in range(1,11))
num1 = 4
num2 = 11
num3 = 45
print(f"{num1} present: {num1 in my_set}")
print(f"{num2} present: {num2 in my_set}")
print(f"{num3} present: {num3 in my_set}")

4 present: True
11 present: False
45 present: False

In [6]:
## Solution - 15
tuple_set = {(1,2),(3,4),(5,6),(2,2)}
print(tuple_set)

{(1, 2), (3, 4), (5, 6), (2, 2)}