In [2]:
a = 100

In [3]:
## Declaring and assigning variables
age = 21
height = 5
name = "Suhani"
is_student = True

##printing the variables
print("age : ", age)
print("height : ", height)
print("name : ", name)
print("is_student : ", is_student)

age :  21
height :  5
name :  Suhani
is_student :  True

In [4]:
## Naming conventions
## variables names should be descriptive
## they must always with a letter or underscore
## It can contain letters, nubers or underscores in b/w
## variables names are case sensitive

## valid variable names
first_name = "Suhani"
last_name = "Bansal"
print(first_name, last_name, end = " ")

Suhani Bansal

In [ ]:
## Invalid variable names
# 2age = 30
# first-name = "Suhani"
# @name = "Suhani"

SyntaxError: invalid syntax. Maybe you meant '==' or ':=' instead of '='? (1869184848.py, line 4)

In [8]:
## case sensitivity
name = "Suhani"
Name = "Bansal"
print(name)
print(Name)

Suhani
Bansal

In [10]:
## Understanding variable types
## python is dynamically typed, type of variable determined at runtime 
age = 25    #int
height = 5.1    #float
name = "Suhani" #string
is_student = True   #bool

print(type(age))
print(type(is_student))

<class 'int'>
<class 'bool'>

In [11]:
## Tyoe Checking and Conversion
type(height)

float

In [12]:
## Type conversion
age = 21
print(type(age))
age_str = str(age)
print(age_str)
print(type(age_str))

<class 'int'>
21
<class 'str'>

In [13]:
age = '25'
print(type(int(age)))

<class 'int'>

In [ ]:
name = 'Suhani'
# int(name) : invalid literal for int()

In [17]:
height = 5.11
type(height)
print(int(height))

5

In [20]:
## Dynamic Typing
## python allows the type of variable to change as the program executes
var = 10
print(var,type(var))
var = "Hello"
print(var,type(var))
var = 3.14
print(var,type(var))

10 <class 'int'>
Hello <class 'str'>
3.14 <class 'float'>

In [4]:
## input

age = int(input("What is the age?"))
print(age, type(age))

23 <class 'int'>

In [5]:

## creating a simple calculator
num1 = float(input("Enter first number : "))
num2 = float(input("Enter second number : "))

sum = num1 + num2
difference = num1 - num2
product = num1 * num2
quotient = num1 / num2

print("Sum: ", sum)
print("Difference: ", difference)
print("Product: ", product)
print("Quotient: ", quotient)

Sum:  24.0
Difference:  0.0
Product:  144.0
Quotient:  1.0