In [1]:
## Integers Example
age = 35
print(type(age))

<class 'int'>

In [2]:
## Floating point datatype
height = 5.11
type(height)

float

In [3]:
## string datatype example
name = "Suhani"
type(name)

str

In [4]:
## boolean datatype
is_student = True
print(type(is_student))

<class 'bool'>

In [6]:
bool() # False
a = 10
b = 10
a == b

True

In [ ]:
## Common errors
# result = "hello" + 5
result = "hello" + str(5) ## typecasting
## type conversion
height = 5.11
int(height) ## from float to int